<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.examples.customtouch"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="9"
        android:targetSdkVersion="15"/>

    <application
        android:icon="@drawable/ic_launcher"
        android:label="Touch Examples"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".scroll.TwoDimensionScrollActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".gesture.TwoDimensionGestureScrollActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".multitouch.MultitouchActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".touchmove.MoveLoggerActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".touchforward.TouchForwardActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".touchdelegate.TouchDelegateActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".touchlistener.TouchListenerActivity"
                  android:screenOrientation="portrait"/>
        <activity android:name=".touchintercept.TouchInterceptActivity" />
    </application>

</manifest>